<ngx-ui-loader></ngx-ui-loader>
<div class="container mt-3">


  <ng-select [items]="lista"
             bindLabel="nombre"
             (change)="refresh()"
             [(ngModel)]="seleccionado">
  </ng-select>


  <div class="row mt-3">

    <div class="col-6">
      <h2>Lista:</h2>
      <li *ngFor="let x of candidatos;" style="list-style: none">
        {{x}}
      </li>
    </div>

    <div class="col-6">
      <h2>Resumen:</h2>
      <li *ngFor="let x of resumen;" style="list-style: none">
        {{x}}
      </li>
    </div>
  </div>
</div>
